@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

*{
    width: 100%;
    height: auto;
}

img{
    margin-top: 3px;
    width: 100%;
}

header{
    display: grid;
    grid-template-columns: 10% 10% 10%;
    padding: 15px;
    background-color: white;
    position: sticky;
    top: 0;
}

.contenedor{
    display: grid;
    grid-template-columns: 60% 34%;
    grid-template-rows: 60% 30%;
}

body{
    background-color: #ff8601;
}

aside{
    background-color: #f6df6d;
    margin-left: 3%;
    width: 100%;
    padding: 5%;
    font-family: 'Dosis', sans-serif;
    float: right;
}

a{
    color: #110f10;
    text-decoration: none;
    font-size: 19px;
}

.lorem{
    display: grid;
    grid-template-columns: 57% 30%;
    grid-template-rows: auto;
}

.cuadro{
    background-color: #f6df6d;
    padding: 20px;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 54% 30%;
}

footer{
    background-color: #910706;
    font-size: 25px;
    padding: 40px;
    text-align: center;
    justify-content: center;
    color: #ffe9b4;
}